/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-cljsbuild-compiler*
/out
*~
color-magic/color-magic.js
leaderboard/leaderboard.js
parties/server/server_js.bad
